html {
    height: 100%;
}

body {
    min-height: 100%;
    border: 20px solid black;
}

/* apply a natural box layout model to all elements, but allowing components to change */

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}