body {
  font-family: 'Georgia', sans-serif;
  background-color: #FFB21F;
  border: 15px solid #343434;
  height: calc(100vh - 30px);
  color: #343434;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1 {
  font-size: 10rem;
}